// colors

$orange:#FFCB4A;

$darkgrey:#777777;
$darkgrey-text:#808080;

$lightgrey-text:#B3B3B3;
$lightgrey-border:#F5F5F5;
$lightgrey-btn:#D8D8D8;

$lightgrey-input-border:#F0F0F0;
$lightgrey-input-bg:#FEFEFE;

$bg:#FAFAFA;