.header {
  background-color: #fff;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  top: 0%;
  z-index: 100;
  border-bottom: 1px solid rgb(245, 245, 245);

  &__logo {
    padding-left: 5rem;
    display: flex;
    border-right: 1px $lightgrey-border solid;
    align-items: center;
    padding-right: 5rem;
  }

  &__buttons {
    padding-right: 5rem;
    align-items: center;
    display: flex;

    &-btn {
      font-size: 1.2rem;
      color: #fff;
      background-color: $lightgrey-btn;
      border-radius: 30px;
      padding: 1rem 4rem;
      transition: all .5s;

      &:hover {
        background-color: $darkgrey;
      }
    }
  }
}