.sidebar {
  background-color: rgb(49, 57, 76);
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 7rem;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;

  .burger {
    height: 9rem;
    border-bottom: 1px solid rgb(70, 77, 94);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-bar {
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 3px 0;
    }
  }

  .icons {
    display: flex;
    flex-direction: column;

    &__item {
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      flex: 1 1 100%;
      cursor: pointer;

      &:hover {
        img {
          opacity: 1;
        }
      }

      img {
        width: 30px;
        height: 30px;
        opacity: .2;
      }
    }

    &-active {
      background-color: #F1C50F;

      img {
        opacity: 1;
      }
    }
  }
}

.onSidebar {
  position: fixed;
  margin-left: 7rem;
  padding-right: 5rem;
}