.companyInfo {
  max-width: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10rem 0;
  height: auto;

  .editInfo {
    &-head {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      &--titles {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        h2 {
          font-size: 1.4rem;
          color: #313131;
        }

        h4 {
          font-size: 1.2rem;
          color: #B3B3B3;
          font-weight: 200;
        }
      }
    }

    &-btn {
      font-size: 1.2rem;
      color: #fff;
      background-color: $lightgrey-text;
      border-radius: 30px;
      padding: 1rem 3rem;
      transition: all .5s;
      border: none;
      align-self: flex-end;
      justify-self: flex-end;
      margin-right: 3rem;
      cursor: pointer;

      &:hover {
        background-color: $darkgrey;
      }

      &__disabled {
        background: $lightgrey-text;
        cursor: not-allowed;

        &:hover {
          background: $lightgrey-text;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding-bottom: 3rem;

      &-basic_info {
        display: flex;
        padding: 3rem;
        border-bottom: 2px solid #F5F5F5;
        flex-flow: row wrap;
        justify-content: space-between;

        label.left,
        label.right {
          display: inline-flex;
          width: 10rem;
        }

        &__column {
          display: flex;
          flex-flow: column;
          max-width: 50%;
        }
      }

      &-person {
        padding: 3rem;
        border-bottom: 2px solid #F5F5F5;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;

        &_column {
          flex-flow: row;

          input {
            &:nth-child(1) {
              margin-right: 2rem;
            }
          }
        }
      }

      &-forma-kontaktu {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-top: 3rem;

        span {
          margin: 0;
        }

        .radio {
          margin-left: 3rem;

          label {
            margin-left: 4rem;
          }
        }
      }

      &-hr {
        padding: 3rem 8rem;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        width: 100%;
        justify-content: space-between;

        &_column_toggle {
          display: flex;
          flex-flow: row;
          align-items: center;
          max-width: 35rem;

          span.editInfo__content-dark-text {
            margin: 0 5rem 0 0;
          }
        }

        &_column_radio {
          display: flex;
          flex-flow: column;
          max-width: 35rem;

          .radios {
            display: flex;
            flex-flow: row wrap;

            .radio {
              width: 100%;
              max-width: 50%;
              margin: 0;
              padding: 0;

              input[type=checkbox] {
                margin-bottom: .7rem
              }

              label {
                margin: 0 0 1rem 1rem;
                padding: 0;
                line-height: 1.4;
              }

            }
          }
        }
      }

      &-firma {
        display: flex;
        padding: 3rem;
        flex-flow: row wrap;
        justify-content: space-between;

        &_column {
          display: flex;
          flex-flow: column;
          width: 50%;

          label {
            margin-bottom: 1rem;
          }

          .radios {
            display: flex;
            flex-flow: row wrap;
            padding-left: 2rem;

            .radio {
              width: 100%;
              max-width: 50%;

              label {
                margin-bottom: 0;
              }
            }
          }

          .toggle-input {
            display: flex;
            flex-flow: row wrap;
            padding-left: 2rem;

            &-column {
              width: 100%;
              max-width: 50%;
              margin-top: 2rem;

              .toggle {
                margin-top: 1.5rem;
              }
            }
          }
        }

        &_social {
          display: flex;
          flex-flow: column;
          margin-top: 4rem;

          .social-input {
            display: flex;
            flex-flow: row;

            img {
              margin-bottom: 1.5rem;
            }
          }
        }
      }

      &-it {
        display: flex;
        padding: 3rem;
        flex-flow: row wrap;
        justify-content: space-between;

        &_column {
          display: flex;
          flex-flow: column;
          width: 45%;
        }

        &__row-toggle {
          display: flex;
          justify-content: space-between;

          span.editInfo__content-dark-text {
            margin-right: 1rem;
          }
        }
      }

      &-form_label {
        display: flex;
        flex-direction: row wrap;
        max-width: 100%;
        align-items: center;

        label {
          margin-bottom: 1.5rem;
        }
      }


      @include infoinputs;
      @include toggle;
      @include radio;



      &-dark-text {
        font-size: 1.3rem;
        color: $darkgrey-text;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
    }
  }
}