.login {
  max-width: 50rem;
  width: auto;
  display: flex;
  margin: auto auto;
  flex-flow: column;
  margin-top: 5rem;

  &-dark-text {
    font-size: 2rem;
    color: $darkgrey-text;
    font-weight: 700;
    align-self: center;
  }

  &-light-text {
    font-size: 1.8rem;
    color: $lightgrey-text;
    align-self: center;
  }

  &-welcome-text {
    font-size: 1.3rem;
    color: $darkgrey-text;
    align-self: center;
    font-weight: 500;
  }

  &__box {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    padding: 3rem 4rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    box-shadow: 10px 10px 170px -45px rgba(0, 0, 0, 0.1);

    &-profileImg {
      height: 14.5rem;
      width: 14.5rem;
      border-radius: 100px;
      box-shadow: 10px 10px 170px -45px rgba(0, 0, 0, 0.75);
      align-self: center;
      margin-bottom: 3rem;
    }

    &-loginForm {
      display: flex;
      flex-flow: column;
      align-items: center;

      input {
        border-radius: 30px;
        border: 2px solid $lightgrey-input-border;
        background-color: $lightgrey-input-bg;
        padding: 1rem 4rem;
        color: $lightgrey-text;
        width: 35rem;
        height: 5rem;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;

        &::placeholder {
          color: $lightgrey-text;
        }
      }

      &-onSubmit {
        background-color: $orange;
        padding: 1rem 4rem;
        width: 35rem;
        height: 5rem;
        color: #fff;
        border-radius: 30px;
      }
    }
  }

  &__error {
    color: red;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
    font-size: 1.1rem;
  }

  &-radio-img {
    display: flex;
    flex-flow: row;
    margin: 3rem 0;

    .input-hidden {
      position: absolute;
      left: -9999px;
    }

    input[type=radio]+label {
      margin: 0 2rem;
      display: flex;
      flex-flow: column;
      align-items: center;

      span {
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 5px;
      }
    }

    input[type=radio]+label>img {
      filter: grayscale(100%);
      align-self: center;
    }

    input[type=radio]:checked+label>img {
      filter: none;
    }

    label {
      cursor: pointer;
    }
  }
}